<title>Contacto</title>


{% extends "AppCoder/base.html" %}
{% load static %}
{% block cambio%}


<h1>esta es la pagina de <p style="color: aqua;">c o n t a c t o</p></h1>
<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYkfGluPgBweOQP_L0nf_4q-jR7oz47lpYlQ&usqp=CAU"
     alt="Bienvenidos img" width="400" height="453" />
     </center>
 
     <form method="get" action="http://127.0.0.1:8000/error/">
          <input type="submit" value="Instagram" />
     </form>
     <form method="get" action="http://127.0.0.1:8000/error/">
               <input type="submit" value="Facebook" />
     </form>
     <form method="get" action="http://127.0.0.1:8000/error/">
          <input type="submit" value="Whatsapp" />
</form>
{% endblock cambio %}
