{% extends "C:\Users\elipu\OneDrive\Escritorio\MiproyectoCoder\AppCoder1\Templates1\AppCoder11\Inicio.html" %}

{% load static %}
{% block titulos %}
    <h1>  Esta seccion es en donde vamos a contactar
         un poco de la historia de las bicicletas  </h1>

    <h3>A Karl Freiherr von Drais se le atribuye la creación de la bicicleta.
         Y fue en 1817 cuando el mundo vio por primera vez una bici gracias a la invención de este ciudadano alemán. 
         Pero este primer ejemplar era de madera y, de cuerdo a los registros históricos, no se le parecía en nada a lo que es actualmente</h3>

{%endblock titulos %}
